/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3; /* Fondo claro */
    color: #333;
}

/* Contenedor */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Encabezado */
header {
    background-color: #9b66e6; /* Lavanda claro */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

/* Barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
}

/* Efecto de hover en los enlaces del menú */
nav ul li a:hover {
    background-color: #7f4ac4; /* Cambio de color al pasar el ratón */
    border-radius: 5px;
}

/* Secciones */
section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #9b66e6; /* Título de las secciones en morado */
}

/* Estilo de las materias */
.subject, .project {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.subject h3, .project h3 {
    color: #9b66e6;
}

.subject a, .project a {
    color: #007bff;
    text-decoration: none;
}

.subject a:hover, .project a:hover {
    text-decoration: underline;
}

/* Detalles de cada materia */
.subject-detail h4 {
    margin-top: 20px;
    color: #9b66e6;
}

.subject-detail p {
    margin: 10px 0;
}

/* Estilo de los apartados de la materia */
.subject-detail ul {
    list-style-type: square;
    padding-left: 20px;
}

.subject-detail li {
    margin-bottom: 10px;
}

/* Pie de página */
footer {
    background-color: #9b66e6;
    color: white;
    text-align: center;
    padding: 10px;
}
